src/main/resources/schemas/scorm2004/xml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    targetNamespace="http://www.w3.org/XML/1998/namespace"
    elementFormDefault="qualified"
    attributeFormDefault="qualified">

  <xs:annotation>
    <xs:documentation>
      Minimal XML namespace schema providing xml:lang, xml:space, and xml:base attributes for
      validating SCORM manifests without requiring external network access.
    </xs:documentation>
  </xs:annotation>

  <xs:attribute name="lang" type="xs:language"/>

  <xs:attribute name="space">
    <xs:simpleType>
      <xs:restriction base="xs:NCName">
        <xs:enumeration value="default"/>
        <xs:enumeration value="preserve"/>
      </xs:restriction>
    </xs:simpleType>
  </xs:attribute>

  <xs:attribute name="base" type="xs:anyURI"/>

  <xs:attributeGroup name="specialAttrs">
    <xs:attribute ref="xml:base"/>
    <xs:attribute ref="xml:lang"/>
    <xs:attribute ref="xml:space"/>
  </xs:attributeGroup>

</xs:schema>
